.card p {
  display: flex;
  font-size: var(--FONT_SIZE_TEXT);
  font-weight: var(--FONT_WEIGHT_TITLE);
  justify-content: space-between;
  align-items: center;
}

span.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

app-list {
  min-width: 200px;
}
