.filter-header {
  display: flex;
  justify-content: space-between;
}

.pdf{
  align-items: flex-start;
  display: flex;
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin: 10px;
}