<div class="container filter">
  <div class="filter-header">
    <h2>{{ 'VIEW.FILTER' | translate }}</h2>
    <button
      mat-stroked-button
      [disabled]="!filter.dirty"
      (click)="filterReset()"
      color="warn"
    >
      {{ 'FORM.RESET' | translate }}
    </button>
  </div>
  <hr />

  <form class="card" [formGroup]="filter" (ngSubmit)="filterSubmit()">
    <mat-form-field class="full-width">
      <mat-select
        placeholder="{{ 'FORM.SEX.TITLE' | translate }}"
        formControlName="sex"
      >
        <mat-option *ngFor="let g of genders | keyvalue" [value]="g.key">
          {{ 'FORM.SEX.' + g.value | translate }}
        </mat-option>
      </mat-select>
      <mat-error>
        <app-control-error [control]="filter.get('sex')"></app-control-error>
      </mat-error>
    </mat-form-field>

    <div formGroupName="height" class="mincard">
      <p>{{ 'FORM.HEIGHT' | translate }}</p>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.FROM' | translate }}"
          formControlName="heightFrom"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.height.get('heightFrom')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.TO' | translate }}"
          formControlName="heightTo"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.height.get('heightTo')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="age" class="mincard">
      <p>{{ 'FORM.AGE' | translate }}</p>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.FROM' | translate }}"
          formControlName="ageFrom"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.age.get('ageFrom')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.TO' | translate }}"
          formControlName="ageTo"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.age.get('ageTo')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="workExperience" class="mincard">
      <p>
        {{ 'FORM.WORK_EXPERIENCE' | translate }}
      </p>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.YEARS' | translate }}"
          formControlName="workExperienceYears"
        />
        <mat-error>
          <app-control-error
            [control]="
              filter.controls.workExperience.get('workExperienceYears')
            "
          ></app-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.MONTHS' | translate }}"
          formControlName="workExperienceMonths"
        />
        <mat-error>
          <app-control-error
            [control]="
              filter.controls.workExperience.get('workExperienceMonths')
            "
          ></app-control-error>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-select
        placeholder="{{ 'FORM.EDUCATION.TITLE' | translate }}"
        formControlName="education"
      >
        <mat-option *ngFor="let g of grades | keyvalue" [value]="g.key">
          {{ 'FORM.EDUCATION.' + g.value | translate }}
        </mat-option>
      </mat-select>
      <mat-error>
        <app-control-error
          [control]="filter.get('education')"
        ></app-control-error>
      </mat-error>
    </mat-form-field>

    <div formGroupName="expectedSalary" class="mincard">
      <p>{{ 'FORM.EXPECTED_SALARY' | translate }}</p>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.FROM' | translate }}"
          formControlName="expectedSalaryFrom"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.expectedSalary.get('expectedSalaryFrom')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="{{ 'FORM.TO' | translate }}"
          formControlName="expectedSalaryTo"
        />
        <mat-error>
          <app-control-error
            [control]="filter.controls.expectedSalary.get('expectedSalaryTo')"
          ></app-control-error>
        </mat-error>
      </mat-form-field>
    </div>
    
    <div formGroupName="professions" class="mincard">
      <p>{{ 'FORM.PROFESSIONS.TITLE' | translate }}</p>
      <div class="col">
        <mat-checkbox
          *ngFor="let p of professions | keyvalue"
          [formControlName]="p.key"
          >{{ 'FORM.PROFESSIONS.' + p.value | translate }}</mat-checkbox
        >
      </div>
    </div>

    <div formGroupName="messengers" class="mincard">
      <p>{{ 'FORM.MESSENGERS.TITLE' | translate }}</p>
      <div class="col">
        <mat-checkbox
          *ngFor="let m of messengers | keyvalue"
          [formControlName]="m.key"
          >{{ 'FORM.MESSENGERS.' + m.value | translate }}</mat-checkbox
        >
      </div>
    </div>

    <div class="mincard">
      <p>{{ 'FORM.LANGUAGE_SKILLS' | translate }}</p>
        <div class="mincard">
          <div formGroupName="languages">
            <mat-checkbox formControlName="russian">
              {{ 'FORM.LANGUAGES.RUSSIAN' | translate }}
            </mat-checkbox>
          </div>
          <mat-form-field class="full-width" formGroupName="languageProficiency">
            <mat-select 
              formControlName="russianProficiency" 
              placeholder="{{ 'FORM.LANGUAGE_PROFICIENCY.TITLE' | translate }}">
              <mat-option
                *ngFor="let lp of languageProficiency | keyvalue"
                [value]="lp.key"
              >
                {{ 'FORM.LANGUAGE_PROFICIENCY.' + lp.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error>
              <app-control-error
                [control]="
                filter.controls.languageProficiency.get(
                    'russianProficiency'
                  )
                "
              ></app-control-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mincard">
          <div formGroupName="languages">
            <mat-checkbox formControlName="english">
              {{ 'FORM.LANGUAGES.ENGLISH' | translate }}
            </mat-checkbox>
          </div>
          <mat-form-field class="full-width" formGroupName="languageProficiency">
            <mat-select 
              formControlName="englishProficiency"
              placeholder="{{ 'FORM.LANGUAGE_PROFICIENCY.TITLE' | translate }}" >
              <mat-option
                *ngFor="let lp of languageProficiency | keyvalue"
                [value]="lp.key"
              >
                {{ 'FORM.LANGUAGE_PROFICIENCY.' + lp.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error>
              <app-control-error
                [control]="
                  filter.controls.languageProficiency.get(
                    'englishProficiency'
                  )
                "
              ></app-control-error>
            </mat-error>
          </mat-form-field>
      </div>
    </div>

    <mat-form-field class="full-width">
      <input
        matInput
        type="date"
        placeholder="{{ 'FORM.SUBMITTED' | translate }}"
        formControlName="submitted"
      />
      <mat-error>
        <app-control-error
          [control]="filter.get('submitted')"
        ></app-control-error>
      </mat-error>
    </mat-form-field>
    
    <button
      color="primary"
      mat-raised-button
      type="submit"
      [disabled]="filter.invalid || filter.pending"
    >
      {{ 'FORM.SUBMIT' | translate }}
    </button>
  </form>
</div>
