<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>{{'FORM.TITLE' | translate}}</h1>
    <div class="col1">
      <mat-form-field class="full-width">
        <input 
          matInput 
          placeholder="{{ 'FORM.NAME' | translate  }}" 
          formControlName="name">
        <mat-error><control-error [control]="form.get('name')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput 
          placeholder="{{ 'FORM.SURNAME' | translate  }}" 
          formControlName="surname">
        <mat-error><control-error [control]="form.get('surname')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="{{ 'FORM.SEX.TITLE' | translate }}" formControlName="sex">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ 'FORM.SEX.' + gender | uppercase | translate }}
          </mat-option>
        </mat-select>
        <mat-error><control-error [control]="form.get('sex')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="{{ 'FORM.EDUCATION.TITLE' | translate }}" formControlName="education">
          <mat-option *ngFor="let grade of grades" [value]="grade">
            {{ 'FORM.EDUCATION.' + grade | uppercase | translate }}
          </mat-option>
        </mat-select>
        <mat-error><control-error [control]="form.get('education')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput
          type="number"
          placeholder="{{ 'FORM.HEIGHT' | translate  }}" 
          formControlName="height">
        <mat-error><control-error [control]="form.get('height')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput 
          placeholder="{{ 'FORM.PHONE_NUMBER' | translate  }}" 
          formControlName="phoneNumber">
        <mat-error><control-error [control]="form.get('phoneNumber')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput 
          placeholder="{{ 'FORM.EMAIL' | translate  }}" 
          formControlName="email">
        <mat-error><control-error [control]="form.get('email')"></control-error></mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput 
          placeholder="{{ 'FORM.PREFFERED_REGION' | translate  }}" 
          formControlName="prefferedRegion">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input 
          matInput
          type="number"
          placeholder="{{ 'FORM.EXPECTED_SALARY' | translate  }}" 
          formControlName="expectedSalary">
        <mat-error><control-error [control]="form.get('expectedSalary')"></control-error></mat-error>
      </mat-form-field>

      <div formGroupName="unemployedFor" class="card">
        <p>{{ 'FORM.UNEMPLOYED_FOR' | translate }}</p>
        <mat-form-field class="full-width">
          <input 
            matInput
            type="number"
            placeholder="{{ 'FORM.YEARS' | translate }}" 
            formControlName="unemployedForYears">
          <mat-error><control-error [control]="form.controls.unemployedFor.get('unemployedForYears')"></control-error></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input 
            matInput
            type="number"
            placeholder="{{ 'FORM.MONTHS' | translate }}" 
            formControlName="unemployedForMonths">
          <mat-error><control-error [control]="form.controls.unemployedFor.get('unemployedForMonths')"></control-error></mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="workExperience" class="card">
        <p>{{ 'FORM.WORK_EXPERIENCE' | translate }}</p>
        <mat-form-field class="full-width">
          <input 
            matInput
            type="number"
            placeholder="{{ 'FORM.YEARS' | translate  }}" 
            formControlName="workExperienceYears">
          <mat-error><control-error [control]="form.controls.workExperience.get('workExperienceYears')"></control-error></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input 
            matInput
            type="number"
            placeholder="{{ 'FORM.MONTHS' | translate  }}" 
            formControlName="workExperienceMonths">
          <mat-error><control-error [control]="form.controls.workExperience.get('workExperienceMonths')"></control-error></mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="languageSkills" class="card">
        <p>{{ 'FORM.LANGUAGE_SKILLS' | translate }}</p>
        <mat-form-field *ngFor="let L of languages" class="full-width">      
            <mat-checkbox [formControlName]="L">
              {{ 'FORM.LANGUAGES.' + L | uppercase | translate }}
            </mat-checkbox>
            <mat-select [formControlName]="L + 'Proficiency'">
              <mat-option *ngFor="let LP of languageProficiency" [value]="LP">
                {{ 'FORM.LANGUAGE_PROFICIENCY.' + LP | uppercase | translate }}
              </mat-option>
            </mat-select>
            <mat-error><control-error [control]="form.controls.languageSkills.get(L + 'Proficiency')"></control-error></mat-error>         
        </mat-form-field>
      </div>   

      <mat-form-field class="full-width">
        <textarea 
          matInput 
          placeholder="{{ 'FORM.NOTE' | translate  }}" 
          formControlName="note" 
          matTextareaAutosize 
          matAutosizeMinRows="3" 
          matAutosizeMaxRows="5">
        </textarea>
        <mat-hint>{{form.get('note').value.length}} / 255</mat-hint>
        <mat-error><control-error [control]="form.get('note')"></control-error></mat-error>
      </mat-form-field>
    </div>
	  <button class="submit-btn" color="primary" mat-raised-button type="submit">Submit</button>
  </form>
</div>
  
  
  
  