<div class="container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
       <h1>{{ 'LOGIN.SIGN_UP' | translate }}</h1>

       <div class="form-control">
        <label>{{ 'LOGIN.USERNAME.TITLE' | translate }}</label>
        <input type="text" name="username" placeholder="Username" formControlName="username">
        <div
          *ngIf="form.get('username').invalid && form.get('username').touched"
          class="validation">
          <small *ngIf="form.get('username').errors.required || form.get('username').errors.whitespace">
            {{ 'LOGIN.USERNAME.REQUIRED' | translate }}
          </small>
          <small *ngIf="form.get('username').errors.minlength">
            {{ 'LOGIN.USERNAME.MIN_LENGTH' | translate }}
          </small>
          <small *ngIf="form.get('username').errors.maxlength">
            {{ 'LOGIN.USERNAME.MAX_LENGTH' | translate }}
          </small>
        </div>
      </div>

      <div class="form-control">
        <label>{{ 'LOGIN.PASSWORD.TITLE' | translate }}</label>
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <div
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="validation">
          <small *ngIf="form.get('password').errors.required || form.get('password').errors.whitespace">
            {{ 'LOGIN.PASSWORD.REQUIRED' | translate }}
          </small>
          <small *ngIf="form.get('password').errors.minlength">
            {{ 'LOGIN.PASSWORD.MIN_LENGTH' | translate }}
          </small>
          <small *ngIf="form.get('password').errors.maxlength">
            {{ 'LOGIN.PASSWORD.MAX_LENGTH' | translate }}
          </small>
        </div>
      </div>

      <p *ngIf="error" class="error">{{error}}</p>

      <button class="btn" type="submit" [disabled]="form.invalid || form.pending">{{ 'LOGIN.SUBMIT' | translate }}</button>
    </form>
</div>