<div class="container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <h1>{{ 'AUTH.SIGN_UP' | translate }}</h1>

        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'AUTH.USERNAME' | translate }}" formControlName="username">
            <mat-error>
                <app-control-error [control]="form.get('username')"></app-control-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}" formControlName="password">
            <mat-error>
                <app-control-error [control]="form.get('password')"></app-control-error>
            </mat-error>
        </mat-form-field>

        <p *ngIf="error" class="error">{{error}}</p>

        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="form.invalid || form.pending">{{ 'FORM.SUBMIT' | translate }}</button>

    </form>
</div>