<div *ngIf="!(isHandset$ | async)" class="grid-container">
    <app-filter></app-filter>
    <app-list></app-list>
    <app-form-update></app-form-update>
</div>

<mat-tab-group *ngIf="isHandset$ | async" mat-align-tabs="center">
    <mat-tab label="{{ 'VIEW.FILTER' | translate }}">
        <app-filter></app-filter>
    </mat-tab>
    <mat-tab label="{{ 'VIEW.LIST' | translate }}">
        <app-list></app-list>
    </mat-tab>
    <mat-tab label="{{ 'FORM.TITLE' | translate }}">
        <app-form-update></app-form-update>
    </mat-tab>
</mat-tab-group>