@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: 500;
}

p {
    font-size: 20px;
    margin: 0.5rem 0;
}

hr {
    margin: .5rem 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

.mincard,
.full-width {
    min-width: 300px;
    width: 100%;
    max-width: 700px;
}

.mincard {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

.full-width {
    margin-bottom: 10px;
}

.part-width {
    margin: 10px;
}

select.lang {
    padding: 0;
    margin: 0;
    max-width: 72px;
    color: inherit;
    background-color: initial;
}

select.lang>option {
    background-color: inherit;
}

@media only screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }
    .full-width,
    .mincard {
        min-width: 250px;
        width: 100%;
        max-width: 350px;
    }
    .part-width {
        min-width: 230px;
        width: 100%;
        max-width: 330px;
        margin: 0;
    }
}