<div class="container">
    <h2>{{ 'COMMENT.TITLE' | translate }}</h2>
    <hr>
    <div class="card" *ngFor="let comment of comments.slice().reverse(); let i = index" >
        <h3 class="name">{{comment.user.username}}</h3>
        <div class="comment">{{comment.comment}}</div>
    </div>
    <form class="card" [formGroup]="comment" (ngSubmit)="addComment()">
      <!-- <label><h3 class="name">{{ username }}</h3></label> -->
      <div class="form-control">
      <textarea rows="7" name="text" placeholder="Note..." formControlName="text"></textarea>
      <div
      *ngIf="comment.get('text').invalid && comment.get('text').touched"
      class="validation">
      <small *ngIf="comment.get('text').errors">
        {{ 'COMMENT.REQUIRED' | translate }}
      </small>
    </div>
    </div>
      <button class="btn" type="submit" [disabled]="comment.invalid || comment.pending">{{ 'COMMENT.SUBMIT' | translate }}</button>
    </form>
</div>